body{
    background-color:#e8e8e8 ;
}

.wraper{
    max-width: 845px;
    margin: 0 auto;
    text-align: center;
    height: 1600px;
}

.title{
    opacity: 0.6;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 165px;
    color: #273d46;    
}

.subtitle{
    font-family: 'Times New Roman';
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 75px;
    color: #273d46;    
}

.picture{
    position: relative;
    top: -260px;
    right: 146px;
    height: 1064px;
    margin-bottom: 90px;
}

.container{
    max-width: 740px;
    margin: 0 auto;
    text-align: left;

}

.text{
    opacity: 0.8;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 60px;
    color: #273d46;    
}

.item{
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    
}

.item:nth-child(1){
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #273d46;
}

.item:nth-child(2) {
    font-style: italic;
    color: #80b7b3;    
}

.item:nth-child(3) {
    font-weight: 700;
    color: #273d46;    
}

.item:nth-child(4) {
    font-family: Arial;
    color: #273d46;
    text-decoration: line-through;
}

.item:nth-child(4) span {
    opacity: 0.3;
}

.item::before{
    content: url(/img/check_icon_37.png);
    padding-right: 10px;
}

.chek__btn{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 199px;
    height: 44px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.2em;
    border-radius: 50px;
    margin-top: 58px;
    box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
    background-color:#80b7b3;
    color: #fff;
}

.shape{
    margin-left: 9px;
}

.position{
    position: relative;
    top: -520px;
}